/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 10px;
}

h1 {
  text-transform: uppercase;
  color: #D40511;
  font-weight: bold;
}

h2 {
  font-size: 2.3rem;
}

h3 {
  font-size: 2.0rem;
}

h4 {
  font-size: 1.8rem;
}

span {
  color: #D40511;
}

p {
  font-size: 1.6rem;
  line-height: 2rem;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
}

input,
textarea {
  border: none;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  padding: 1.2em;
  background-color: #F4F4F4;
}

input:focus,
textarea:focus {
  outline: 4px solid #FFCC00;
  -webkit-box-shadow: 10px;
          box-shadow: 10px;
}

textarea {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

strong {
  font-weight: bold;
  color: #D40511;
}

.fa-check {
  color: #D40511;
}

.section__title {
  margin: 0 0 3.4rem 0;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  color: #000;
  width: 100vw;
  line-height: 1.2em;
  font-size: 3.6em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 15rem;
}

@media (min-width: 576px) {
  .section__title {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 100%;
  }
}

.section__title-span {
  margin: 2rem auto;
  color: #000;
}

@media (min-width: 576px) {
  .section__title-span {
    margin: auto 2rem;
  }
}

.section__subtitle {
  margin: 0 0 5rem 0;
  text-align: center;
  font-size: 2.6em;
  margin: 0 auto 5rem auto;
  width: 80vw;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow-x: hidden;
}

.menu {
  display: block;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.header {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.about {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.services {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.track {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}

.offer {
  -webkit-box-ordinal-group: 7;
      -ms-flex-order: 6;
          order: 6;
}

.contact {
  -webkit-box-ordinal-group: 8;
      -ms-flex-order: 7;
          order: 7;
}

section {
  margin-top: 8vh;
  margin-bottom: 4vh;
}

footer {
  margin-top: 8vh;
}

@-webkit-keyframes lf1 {
  0% {
    left: 200%;
  }
  100% {
    left: -200%;
    opacity: 0;
  }
}

@keyframes lf1 {
  0% {
    left: 200%;
  }
  100% {
    left: -200%;
    opacity: 0;
  }
}

@-webkit-keyframes lf2 {
  0% {
    left: 200%;
  }
  100% {
    left: -200%;
    opacity: 0;
  }
}

@keyframes lf2 {
  0% {
    left: 200%;
  }
  100% {
    left: -200%;
    opacity: 0;
  }
}

@-webkit-keyframes lf3 {
  0% {
    left: 200%;
  }
  100% {
    left: -100%;
    opacity: 0;
  }
}

@keyframes lf3 {
  0% {
    left: 200%;
  }
  100% {
    left: -100%;
    opacity: 0;
  }
}

@-webkit-keyframes lf4 {
  0% {
    left: 200%;
  }
  100% {
    left: -100%;
    opacity: 0;
  }
}

@keyframes lf4 {
  0% {
    left: 200%;
  }
  100% {
    left: -100%;
    opacity: 0;
  }
}

@-webkit-keyframes driving {
  0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
            transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -3px) rotate(-1deg);
            transform: translate(-1px, -3px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-2px, 0px) rotate(1deg);
            transform: translate(-2px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 3px) rotate(-1deg);
            transform: translate(-1px, 3px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-1px, 1px) rotate(0deg);
            transform: translate(-1px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-2px, -1px) rotate(1deg);
            transform: translate(-2px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
            transform: translate(2px, 1px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes driving {
  0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
            transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -3px) rotate(-1deg);
            transform: translate(-1px, -3px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-2px, 0px) rotate(1deg);
            transform: translate(-2px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 3px) rotate(-1deg);
            transform: translate(-1px, 3px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-1px, 1px) rotate(0deg);
            transform: translate(-1px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-2px, -1px) rotate(1deg);
            transform: translate(-2px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
            transform: translate(2px, 1px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@-webkit-keyframes textrevealer {
  0%,
  50% {
    -webkit-transform-origin: 0 50%;
            transform-origin: 0 50%;
  }
  60%,
  100% {
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
  }
  60% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@keyframes textrevealer {
  0%,
  50% {
    -webkit-transform-origin: 0 50%;
            transform-origin: 0 50%;
  }
  60%,
  100% {
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
  }
  60% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@-webkit-keyframes clip-text {
  from {
    -webkit-clip-path: inset(0 100% 0 0);
            clip-path: inset(0 100% 0 0);
  }
  to {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
}

@keyframes clip-text {
  from {
    -webkit-clip-path: inset(0 100% 0 0);
            clip-path: inset(0 100% 0 0);
  }
  to {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
}

@-webkit-keyframes appear {
  from {
    -webkit-clip-path: inset(0 100% 0 0);
            clip-path: inset(0 100% 0 0);
  }
  to {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
}

@keyframes appear {
  from {
    -webkit-clip-path: inset(0 100% 0 0);
            clip-path: inset(0 100% 0 0);
  }
  to {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
}

.burger {
  position: absolute;
  right: -4px;
  top: -2px;
  width: 24px;
  -webkit-transform: translate(-25px, 30px);
          transform: translate(-25px, 30px);
  height: 6px;
  background: #fff;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  z-index: 100;
  opacity: 85%;
}

.burger-menu {
  position: fixed;
  right: 5%;
  top: 2%;
  display: block;
  height: 6rem;
  width: 6rem;
  border: solid 2px #D40511;
  border-radius: 50%;
  background-color: #D40511;
  opacity: 85%;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  z-index: 99;
}

@media (min-width: 768px) {
  .burger-menu {
    display: none;
  }
}

.burger:before, .burger:after {
  position: absolute;
  background: #fff;
  content: '';
  width: 24px;
  height: 6px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.burger:before {
  top: -12px;
  width: 30px;
}

.burger:after {
  top: 12px;
  width: 30px;
}

@media (min-width: 768px) {
  .burger {
    display: none;
  }
}

.menu {
  position: fixed;
  top: 0;
  left: 100%;
  letter-spacing: 0.05rem;
  z-index: 2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #FFE680;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.menu--open {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

@media (min-width: 768px) {
  .menu--open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media (min-width: 768px) {
  .menu {
    left: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 4rem;
    background-color: transparent;
  }
}

@media (min-width: 992px) {
  .menu {
    height: 4rem;
    width: 100vw;
  }
}

.menu__item {
  line-height: 4rem;
  text-decoration: none;
  font-size: 3.0rem;
  color: #D40511;
}

@media (min-width: 768px) {
  .menu__item {
    margin-right: 3.8rem;
    font-size: 1.8rem;
    position: relative;
  }
  .menu__item::after {
    content: '';
    position: absolute;
    margin-bottom: 0.5rem;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: 3px solid #D40511;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .menu__item:hover::after {
    width: 100%;
    border-bottom: 3px solid #D40511;
  }
  .menu__item:hover {
    color: #a2040d;
  }
}

@media (min-width: 768px) {
  .menu__item--sticky::after {
    content: '';
    position: absolute;
    margin-bottom: 0.5rem;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: 1px solid #FFE680;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .menu__item--sticky:hover::after {
    width: 100%;
    border-bottom: 3px solid #FFE680;
  }
  .menu__item--sticky:hover {
    opacity: 1;
    color: #FFE680;
  }
}

@media (min-width: 768px) {
  .menu--sticky {
    background-color: #FFE680;
    -webkit-box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.2);
    opacity: 0.95;
  }
}

body {
  background-color: #FFCC00;
  overflow-x: hidden;
}

.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 27% 10% 10% 43% 10%;
      grid-template-rows: 27% 10% 10% 43% 10%;
  height: 100vh;
  width: 100vw;
  background-image: url("../svg/dots-light.svg");
  background-repeat: no-repeat;
  background-position: 75vw 70vh;
}

@media (min-width: 768px) {
  .header {
    background-position: 80vw 65vh;
    background-size: 30rem;
  }
}

@media (min-width: 992px) {
  .header {
    background-position: 85vw 65vh;
    background-size: 30rem;
    -ms-grid-rows: 24% 13% 10% 43% 10%;
        grid-template-rows: 24% 13% 10% 43% 10%;
  }
}

.header__btn-text {
  color: #fff;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
}

@media (min-width: 992px) {
  .header__btn-text {
    font-size: 2.2rem;
  }
}

.header__button {
  background-color: #D40511;
  height: 12rem;
  width: 12rem;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  border: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin: auto;
  -ms-grid-row: 4;
      grid-row-start: 4;
}

.header__button:hover {
  background-color: #a2040d;
  cursor: pointer;
}

.header__button:focus {
  -webkit-box-shadow: 0 -5px -10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 -5px -10px rgba(0, 0, 0, 0.5);
}

@media (min-width: 992px) {
  .header__button {
    width: 30rem;
    height: 10rem;
  }
}

.header__title-container {
  font-size: 3.4rem;
  height: 12rem;
  line-height: 16rem;
  width: 100%;
  letter-spacing: 0.0rem;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  text-align: center;
  position: relative;
  -webkit-animation-name: clip-text;
          animation-name: clip-text;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 800ms;
          animation-duration: 800ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
          animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.header__title::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #D40511;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  pointer-events: none;
  -webkit-animation-name: textrevealer;
          animation-name: textrevealer;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 800ms;
          animation-duration: 800ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
          animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.header__title-logo {
  display: none;
}

.header__title::before {
  content: "";
  display: none;
  position: absolute;
  top: -1rem;
  right: 26rem;
  width: 16rem;
  height: 3.4rem;
  background-color: #FFE680;
  z-index: -1;
}

@media (min-width: 768px) {
  .header__title::before {
    display: block;
    top: -1.5rem;
    right: 50rem;
    width: 26rem;
    height: 4.8rem;
  }
}

@media (min-width: 992px) {
  .header__title::before {
    right: 63rem;
    top: 0.5rem;
    width: 32rem;
    height: 4.8rem;
  }
}

@media (min-width: 768px) {
  .header__title {
    font-size: 5.8rem;
    text-align: right;
    padding-right: 15rem;
    letter-spacing: 0.2rem;
  }
}

@media (min-width: 992px) {
  .header__title {
    font-size: 6.4rem;
    letter-spacing: 0.3rem;
  }
  .header__title-logo {
    -webkit-transform: translate(-50%, -25%);
            transform: translate(-50%, -25%);
    display: inline-block;
    height: 10rem;
  }
}

@media (min-width: 1200px) {
  .header__title {
    font-size: 7.2rem;
    letter-spacing: 0.5rem;
  }
  .header__title::before {
    right: 76rem;
    width: 36rem;
    height: 5.8rem;
  }
  .header__title-logo {
    -webkit-transform: translate(-45%, -25%);
            transform: translate(-45%, -25%);
    height: 11rem;
  }
}

.header__info {
  text-align: center;
  letter-spacing: 0.05rem;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 3;
      grid-row-start: 3;
  -webkit-animation-name: clip-text;
          animation-name: clip-text;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 600ms;
          animation-duration: 600ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
          animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.header__info::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  pointer-events: none;
  -webkit-animation-name: textrevealer;
          animation-name: textrevealer;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 600ms;
          animation-duration: 600ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
          animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

@media (min-width: 768px) {
  .header__info {
    font-size: 3.8rem;
    text-align: right;
    padding-right: 15rem;
  }
}

@media (min-width: 992px) {
  .header__info {
    font-size: 4.2rem;
    padding-right: 20rem;
  }
}

@media (min-width: 1200px) {
  .header__info {
    font-size: 4.8rem;
    padding-top: 2rem;
  }
}

.header__truck {
  width: 160px;
  margin: auto;
  -ms-grid-row: 4;
      grid-row-start: 4;
  grid-row-end: 5;
  position: relative;
  -webkit-animation-name: appear;
          animation-name: appear;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 600ms;
          animation-duration: 600ms;
}

.header__truck::before {
  content: "";
  position: absolute;
  bottom: 1.5rem;
  left: 0;
  background-color: #FFE680;
  width: 110%;
  height: 50px;
  z-index: -1;
}

@media (min-width: 768px) {
  .header__truck {
    width: 200px;
  }
}

@media (min-width: 992px) {
  .header__truck {
    width: 250px;
  }
}

@media (min-width: 1200px) {
  .header__truck {
    width: 300px;
  }
}

@media (min-width: 992px) {
  .header__truck--img {
    -webkit-animation: driving 1s linear infinite;
            animation: driving 1s linear infinite;
  }
}

.mobile-swipe {
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  padding-bottom: 1em;
}

@media (min-width: 992px) {
  .mobile-swipe {
    display: none;
  }
}

.scroll {
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  padding-bottom: 1em;
  display: none;
}

@media (min-width: 992px) {
  .scroll {
    display: block;
  }
}

.logo__cube {
  position: absolute;
  top: -33px;
  left: -33px;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  scale: 0.5;
}

.logo__image {
  position: absolute;
  top: -414px;
  left: -368px;
  scale: 0.07;
}

.lines {
  position: absolute;
  width: 50%;
  height: 100%;
}

.lines__item {
  position: absolute;
  height: 2px;
  width: 20%;
  background: #D40511;
  display: none;
}

@media (min-width: 992px) {
  .lines__item {
    display: block;
  }
}

.lines__item:nth-child(2) {
  top: 40%;
  -webkit-animation: lf2 .8s linear infinite;
          animation: lf2 .8s linear infinite;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

.lines__item:nth-child(3) {
  top: 60%;
  -webkit-animation: lf3 .6s linear infinite;
          animation: lf3 .6s linear infinite;
}

.lines__item:nth-child(4) {
  top: 80%;
  -webkit-animation: lf4 .5s linear infinite;
          animation: lf4 .5s linear infinite;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
}

.about {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .about__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 80vw;
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  .about__wrap {
    width: 85vw;
  }
}

@media (min-width: 1200px) {
  .about__wrap {
    width: 83vw;
  }
}

.about__info {
  text-align: justify;
  margin: 0 auto 2rem auto;
  width: 80vw;
}

.about__info-span {
  display: block;
  margin-top: 1rem;
  color: #000;
}

@media (min-width: 768px) {
  .about__info {
    width: 40%;
    margin: 0 3rem;
  }
}

@media (min-width: 992px) {
  .about__info {
    width: 40%;
    font-size: 1.6em;
    line-height: 2.2rem;
  }
}

@media (min-width: 1200px) {
  .about__info {
    width: 35%;
    font-size: 2rem;
    line-height: 3rem;
  }
}

.about__img {
  width: 100vw;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  max-width: 570px;
}

@media (min-width: 576px) {
  .about__img {
    display: block;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .about__img {
    margin: 0;
    width: 40vw;
  }
}

@media (min-width: 1200px) {
  .about__img {
    margin: 0 3rem;
  }
}

.track {
  margin: 3rem 0 0 0;
  position: relative;
}

.track__form-wrap {
  margin: 5rem auto;
  width: 65vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.track::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background: #FFE680;
  -webkit-transform: skew(0deg, 6deg);
          transform: skew(0deg, 6deg);
  z-index: -1;
}

.track::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background: #FFE680;
  -webkit-transform: skew(0deg, -6deg);
          transform: skew(0deg, -6deg);
  z-index: -1;
}

@media (min-width: 576px) {
  .track {
    background-image: url("../svg/dots-secondary.svg");
    background-repeat: no-repeat;
    background-position-x: 15rem;
    background-position-y: 7rem;
    background-size: 10rem;
  }
}

@media (min-width: 768px) {
  .track {
    background-size: 13rem;
  }
}

@media (min-width: 992px) {
  .track {
    background-size: 15rem;
    background-position-x: 18rem;
  }
}

@media (min-width: 1200px) {
  .track {
    background-size: 20rem;
    background-position-x: 25rem;
  }
}

.track__title {
  text-align: center;
  margin: 3rem 2rem;
  font-size: 3.2rem;
  font-weight: 700;
}

@media (min-width: 768px) {
  .track__title {
    text-align: left;
    margin-left: 20vw;
    margin-bottom: 1rem;
    margin-top: 10rem;
  }
}

@media (min-width: 992px) {
  .track__title {
    font-size: 3.6rem;
  }
}

.track__input {
  border-radius: 50px 0 0 50px;
  font-size: 1.6rem;
  width: 30rem;
}

.track__input:focus {
  outline: none;
}

@media (min-width: 768px) {
  .track__input {
    width: 40rem;
  }
}

.track__button {
  padding: 1.2em;
  color: #fff;
  background-color: #000;
  border-radius: 0 50px 50px 0;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  font-size: 1.6rem;
}

@media (min-width: 768px) {
  .track__button {
    width: 10rem;
  }
}

.services {
  background-image: url("../svg/section-bcg-1.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 10vh;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 80vw;
  margin: 2rem auto;
  position: relative;
  background-color: #FFE680;
  height: 25rem;
}

@media (min-width: 768px) {
  .feature {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 33.33%;
    height: 35rem;
  }
}

@media (min-width: 992px) {
  .feature {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    width: 100%;
    height: 30rem;
  }
}

.feature__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80vw;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .feature__wrap {
    width: 90vw;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.feature__icon {
  margin: 3rem auto 0 auto;
  color: #D40511;
  font-size: 8rem;
}

.feature__title {
  margin: 2rem auto 0 auto;
  font-weight: 600;
}

.feature__info {
  margin: 2rem 3rem;
  text-align: center;
}

.offer__section {
  background-color: #fff;
  width: 100%;
  height: 65%;
  border-radius: 10px;
}

@media (min-width: 576px) {
  .offer__section {
    width: 500px;
  }
}

.offer__heading {
  height: 20%;
  width: 100%;
  background-color: #F4F4F4;
  text-align: center;
  color: #262627;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 300;
  padding: 2rem 0;
}

.offer__price {
  text-align: center;
  background-color: #F4F4F4;
  color: #262627;
  font-size: 4rem;
  font-weight: 600;
  padding: 2rem 0;
}

.offer__price-month {
  font-size: 1.8rem;
  color: #262627;
  font-weight: 300;
}

.offer__listing {
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 1.6rem;
}

.offer__listing::before {
  content: '';
  position: absolute;
  top: 20vh;
  left: -20vw;
  width: 100vw;
  height: 50vh;
  z-index: -1;
}

@media (min-width: 992px) {
  .offer__listing::before {
    background-color: #F4F4F4;
  }
}

.offer__item {
  margin: auto 5rem;
  padding: 1.2rem;
  border-top: 1px solid #d9d9d9;
}

.offer__column {
  width: 28rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  height: 80%;
  margin: 2rem auto;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  background-color: #fff;
}

.offer__column-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .offer__column-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-position: 80vw 65vh;
    background-size: 30rem;
    width: 90vw;
  }
}

@media (min-width: 1200px) {
  .offer__column-wrap {
    width: 85vw;
  }
}

@media (min-width: 768px) {
  .offer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
}

@media (min-width: 992px) {
  .offer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33%;
            flex: 0 0 33.33%;
    max-width: 33.33%;
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    height: 55rem;
  }
}

.offer__order {
  text-transform: lowercase;
  padding: 0.8em;
  width: 90%;
  color: #fff;
  background-color: #D40511;
  display: block;
  margin: 20px auto 35px;
  border-radius: 10px;
  line-height: 2rem;
  font-size: 1.6rem;
}

.offer__order:hover {
  background-color: #a2040d;
  cursor: pointer;
}

@media (min-width: 992px) {
  .offer__order {
    font-size: 1.8rem;
  }
}

.contact {
  position: relative;
  background-color: #262627;
  color: #fff;
  margin-top: 6vh;
}

.contact__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100vw;
  position: relative;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  margin: 2rem auto;
}

@media (min-width: 768px) {
  .contact__wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.contact__container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.8rem;
  padding: 1rem;
  min-width: 90%;
  margin-top: 2rem;
}

@media (min-width: 992px) {
  .contact__container {
    margin: 0 auto;
    min-width: 40%;
  }
}

.contact__container-message {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 90%;
  font-size: 1.8rem;
  padding: 1rem;
  line-height: 2.6rem;
  margin-top: 2rem;
  margin: 2rem 3rem;
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 576px) {
  .contact__form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.contact__form-wrap {
  width: 65%;
}

.contact__title {
  margin: 5rem 5rem;
  font-size: 2.8rem;
}

@media (min-width: 768px) {
  .contact__title {
    margin: 3rem 5rem;
  }
}

.contact__phone {
  margin-top: 2.8rem;
}

.contact__address {
  margin: 0 auto 0 auto;
}

.contact__address-title {
  font-size: 2.8rem;
  margin: 3rem auto 0 auto;
}

.contact__address-info {
  margin: 1.4rem auto;
  padding: 1rem;
}

.contact__submit {
  padding: 0.8em;
  border: 1px solid #F4F4F4;
  color: #F4F4F4;
  background-color: transparent;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  height: 4.5rem;
  width: 15rem;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.contact__submit:hover {
  background-color: #FFCC00;
  color: #262627;
  border: 1px solid #262627;
}

@media (min-width: 768px) {
  .contact__submit {
    width: 10rem;
    padding: 0.8em;
  }
}

@media (min-width: 992px) {
  .contact__submit {
    width: 15rem;
  }
}

.copyright {
  position: absolute;
  color: #fff;
  bottom: 0;
  width: 98vw;
  font-size: 1.2rem;
  text-align: center;
  z-index: 1;
  padding: 0.3rem;
  overflow: hidden;
}
/*# sourceMappingURL=main.css.map */