.contact {
    position: relative;
    background-color: $dark-color;
    color: #fff;
    margin-top: 6vh;

    &__wrap {
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
        position: relative;
        height: 400px;
        flex-basis: 25%;
        margin: 2rem auto;
    }

    &__container {
        font-size: 1.8rem;
        padding: 1rem;

        @include mq(small) {
            width: 40%;
            margin: auto 2rem;
        }

        &-message {
            box-sizing: border-box;
            min-width: 90%;
            font-size: 1.8rem;
            padding: 1rem;
            line-height: 2.6rem;
            margin-top: 2rem;
            margin: 2rem 3rem;
        }
    }

    &__form {
        @include flex(center, center, row);
        flex-wrap: wrap;

        @include mq(small) {
            flex-direction: row;
        }

        &-wrap {
            width: 65%;
        }
    }

    &__title {
        margin: 3rem 5rem;
    }

    &__phone {
        margin-top: 2.8rem;
    }

    &__address {
        margin: 2rem auto 0 auto;

        &-info {
            margin: 1.4rem auto;
        }
    }

    &__submit {
        padding: 0.8em;
        border: 1px solid $light-grey;
        color: $light-grey;
        background-color: transparent;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
        border-radius: 20px;

        &:hover {
            background-color: $secondary-color;
            color: $dark-color;
            border: 1px solid $dark-color;

        }

        @include mq(medium) {
            width: 10rem;
            padding: 0.8em;
            font-size: 1.2rem;
        }

        @include mq(large) {
            width: 15rem;
            font-size: 1.6rem;
        }

    }
}

.copyright {
    position: absolute;
    color: #fff;
    bottom: 0;
    width: 100vw;
    font-size: 1.2rem;
    text-align: center;
    z-index: 1;
    padding: 0.3rem;
}