body {
    background-color: $secondary-color;
    overflow-x: hidden;
}

.header {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 27% 10% 10% 43% 10%;
    height: 100vh;
    width: 100vw;
    background-image: url('../svg/dots-light.svg');
    background-repeat: no-repeat;
    background-position: 75vw 70vh;

    @include mq(medium) {
        background-position: 80vw 65vh;
        background-size: 30rem;
    }

    @include mq(large) {
        background-position: 85vw 65vh;
        background-size: 30rem;
        grid-template-rows: 24% 13% 10% 43% 10%;
    }

    &__btn-text {
        color: #fff;
        font-size: 1.8rem;
        letter-spacing: 0.2rem;

        @include mq(large) {
            font-size: 2.2rem;
        }
    }

    &__button {
        background-color: $main-color;
        height: 12rem;
        width: 12rem;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
        border: none;
        transition: 0.5s;
        margin: auto;
        grid-row-start: 4;

        &:hover {
            background-color: darken($main-color, 10%);
            cursor: pointer;
        }

        &:focus {
            box-shadow: 0 -5px -10px rgba(0, 0, 0, 0.5);
        }


        @include mq(large) {
            width: 30rem;
            height: 10rem;
        }
    }

    &__title {


        &-container{
            font-size: 3.4rem;
            height: 12rem;
            line-height: 16rem;
            width: 100%;
            letter-spacing: 0.0rem;
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 2;
            box-sizing: border-box;
            transform: translate(0, 0);

            text-align: center;
            position: relative;
            animation-name: clip-text;
            animation-delay: 0s;
            animation-iteration-count: 1;
            animation-duration: 800ms;
            animation-fill-mode: both;
            animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);

        }

        &::after {
            content: "";
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: $main-color;
            transform: scaleX(0);
            transform-origin: 0 50%;
            pointer-events: none;
            animation-name: textrevealer;
            animation-delay: 0s;
            animation-iteration-count: 1;
            animation-duration: 800ms;
            animation-fill-mode: both;
            animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
        }

        &-logo {
            display: none;
        }

        &::before {
            content: "";
            display: none;
            position: absolute;
            top: -1rem;
            right: 26rem;
            width: 16rem;
            height: 3.4rem;
            background-color: $light-color;
            z-index: -1;

            @include mq(medium) {
                display: block;
                top: -1.5rem;
                right: 50rem;
                width: 26rem;
                height: 4.8rem;
            }

            @include mq(large) {
                right: 63rem;
                top: 0.5rem;
                width: 32rem;
                height: 4.8rem;
            }
        }

        @include mq(medium) {
            font-size: 5.8rem;
            text-align: right;
            padding-right: 15rem;
            letter-spacing: 0.2rem;
        }

        @include mq(large) {
            font-size: 6.4rem;
            letter-spacing: 0.3rem;

            &-logo {
                transform: translate(-50%, -25%);
                display: inline-block;
                height: 10rem;
            }
        }

        @include mq(xlarge) {
            font-size: 7.2rem;
            letter-spacing: 0.5rem;

            &::before {
                right: 76rem;
                width: 36rem;
                height: 5.8rem;
            }

            &-logo {
                transform: translate(-45%, -25%);
                height: 11rem;
            }
        }
    }

    &__info {
        text-align: center;
        letter-spacing: 0.05rem;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;

        animation-name: clip-text;
        animation-delay: 0.4s;
        animation-iteration-count: 1;
        animation-duration: 600ms;
        animation-fill-mode: both;
        animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);

        &::after {
            content: "";
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #000;
            transform: scaleX(0);
            transform-origin: 0 50%;
            pointer-events: none;
            animation-name: textrevealer;
            animation-delay: 0.4s;
            animation-iteration-count: 1;
            animation-duration: 600ms;
            animation-fill-mode: both;
            animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
        }

        @include mq(medium) {
            font-size: 3.8rem;
            text-align: right;
            padding-right: 15rem;
        }

        @include mq(large) {
            font-size: 4.2rem;
            padding-right: 20rem;
        }

        @include mq(xlarge) {
            font-size: 4.8rem;
            padding-top: 2rem;
        }
    }

    &__truck {
        width: 160px;
        margin: auto;
        grid-row-start: 4;
        grid-row-end: 5;
        position: relative;

        animation-name: appear;
        animation-delay: 0.4s;
        animation-iteration-count: 1;
        animation-duration: 600ms;

        &::before {
            content: "";
            position: absolute;
            bottom: 1.5rem;
            left: 0;
            background-color: $light-color;
            width: 110%;
            height: 50px;
            z-index: -1;
        }

        @include mq(medium) {
            width: 200px;
        }

        @include mq(large) {
            width: 250px;
        }

        @include mq(xlarge) {
            width: 300px;
        }

        &--img {
            @include mq(large) {
                animation: driving 1s linear infinite;
            }
        }
    }


}

.mobile-swipe {
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    padding-bottom: 1em;

    @include mq(large) {
        display: none;
    }
}

.scroll {
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    padding-bottom: 1em;
    display: none;

    @include mq(large) {
        display: block;
    }
}

.logo {
    &__cube {
        position: absolute;
        top: -33px;
        left: -33px;
        transform: scaleX(-1);
        scale: 0.5;
    }

    &__image {
        position: absolute;
        top: -414px;
        left: -368px;
        scale: 0.07;
    }
}

.lines {
    position: absolute;
    width: 50%;
    height: 100%;

    &__item {
        position: absolute;
        height: 2px;
        width: 20%;
        background: $main-color;
        display: none;

        @include mq(large) {
            display: block;
        }

        &:nth-child(2) {
            top: 40%;
            animation: lf2 .8s linear infinite;
            animation-delay: -1s;
        }

        &:nth-child(3) {
            top: 60%;
            animation: lf3 .6s linear infinite;
        }

        &:nth-child(4) {
            top: 80%;
            animation: lf4 .5s linear infinite;
            animation-delay: -3s;
        }
    }
}