body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu {
    display: block;
    order: 1;
}

.header {
    order: 2;
}

.about {
    order: 3;
}

.services {
    order: 4;
}

.track {
    order: 5;
}

.offer {
    order: 6;
}

.contact {
    order: 7;
}