.burger {
    position: absolute;
    right: -4px;
    top: -2px;
    width: 24px;
    transform: translate(-25px, 30px);
    height: 6px;
    background: #fff;
    transition: all .2s ease-in-out;
    z-index: 100;
    opacity: 85%;


    &-menu {
        position: fixed;
        right: 5%;
        top: 2%;
        display: block;
        height: 6rem;
        width: 6rem;
        border: solid 2px $main-color;
        border-radius: 50%;
        background-color: $main-color;
        opacity: 85%;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
        z-index: 99;

        @include mq(medium) {
            display: none;
        }
    }

    &:before,
    &:after {
        position: absolute;
        background: #fff;
        content: '';
        width: 24px;
        height: 6px;
        transition: all .2s ease-in-out;
    }

    &:before {
        top: -12px;
        width: 30px;
    }

    &:after {
        top: 12px;
        width: 30px;
    }

    @include mq(medium) {
        display: none;
    }
}

.menu {
    position: fixed;
    top: 0;
    left: 100%;
    letter-spacing: 0.05rem;
    z-index: 2;
    transition: 0.5s;
    background-color: $light-color;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;

    &--open {
        transform: translateX(-100%);
        @include mq(medium) {
            transform: translateX(0);
        }
      }


    @include mq(medium) {
        left: 0;
        flex-direction: row;
        justify-content: flex-end;
        height: 4rem;
        background-color: transparent;
    }

    @include mq(large) {
        height: 4rem;
        width: 100vw;
    }

    &__item {
        line-height: 4rem;
        text-decoration: none;
        font-size: 3.0rem;
        color: $main-color;

        @include mq(medium) {
            margin-right: 3.8rem;
            font-size: 1.8rem;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                margin-bottom: 0.5rem;
                bottom: 0;
                left: 0;
                width: 0%;
                border-bottom: 3px solid $main-color;
                transition: 0.2s;
            }

            &:hover::after {
                width: 100%;
                border-bottom: 3px solid $main-color;
            }

            &:hover {
                color: darken($main-color, 10%);
            }
        }

        &--sticky {
            @include mq(medium) {
                // opacity: 0.7;

                &::after {
                    content: '';
                    position: absolute;
                    margin-bottom: 0.5rem;
                    bottom: 0;
                    left: 0;
                    width: 0%;
                    border-bottom: 1px solid $light-color;
                    transition: 0.2s;
                }

                &:hover::after {
                    width: 100%;
                    border-bottom: 3px solid $light-color;
                }

                &:hover {
                    opacity: 1;
                    color: $light-color;
                }
            }
        }
    }

    &--sticky {
        @include mq(medium) {
            background-color: $light-color;
            box-shadow: 0 4px 4px 2px rgba(0,0,0,.2);
            opacity: 0.95;
        }
    }
}
