.services {
    height: 100vh;
    background-image: url(/svg/section-bcg-1.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 10vh;


    &__title {
        margin: 10vh 0;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        color: $main-color;
        width: 100vw;
        line-height: 1.2em;

        &-slim {
            display: block;
            font-weight: 500;
            color: #000;

        }
    }
}