.track {
    margin: 3rem 0 0 0;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 50%;
        background: $light-color;
        transform: skew(0deg, 6deg);
        z-index: -1;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 50%;
        background: $light-color;
        transform: skew(0deg, -6deg);
        z-index: -1;
    }

    @include mq(medium) {
        background-image: url('/svg/dots-light.svg');
        background-repeat: no-repeat;
        background-position-x: 15rem;
        background-position-y: 3rem;
        background-size: 15%;
    }

    @include mq(large) {
        background-size: 12%;
        background-position-x: 18rem;
    }

    @include mq(xlarge) {
        background-size: 8%;
        background-position-x: 30rem;
    }


    &__title {
        text-align: center;
        margin: 3rem 2rem;
        font-size: 3.2rem;
        font-weight: 700;

        @include mq(medium) {
            text-align: left;
            margin-left: 20vw;
            margin-bottom: 1rem;
            margin-top: 10rem;
        }

        @include mq(large) {
            font-size: 3.6rem;
        }
    }

    &__input {
        border-radius: 50px 0 0 50px;
        width: 15rem;

        @include mq(medium) {
            width: 25rem;
            padding: 1.6em;
            font-size: 1.2rem;
            margin-left: 40vw;
        }

        @include mq(large) {
            width: 35rem;
            font-size: 1.6rem;
        }
    }

    &__button {
        padding: 1.2em;
        color: #fff;
        background-color: #000;
        border-radius: 0 50px 50px 0;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
        margin-bottom: 10rem;

        @include mq(medium) {
            width: 10rem;
            padding: 1.6em;
            font-size: 1.2rem;
        }

        @include mq(large) {
            width: 15rem;
            font-size: 1.6rem;

        }
    }
}