.track {
    margin: 3rem 0 0 0;
    position: relative;

    &__form-wrap {
        margin: 5rem auto;
        width: 65vw;
        display: flex;
        justify-content: center;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 50%;
        background: $light-color;
        transform: skew(0deg, 6deg);
        z-index: -1;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 50%;
        background: $light-color;
        transform: skew(0deg, -6deg);
        z-index: -1;
    }

    @include mq(small) {
        background-image: url('../svg/dots-secondary.svg');
        background-repeat: no-repeat;
        background-position-x: 15rem;
        background-position-y: 7rem;
        background-size: 10rem;
    }

    @include mq(medium) {
        background-size: 13rem;
    }

    @include mq(large) {
        background-size: 15rem;
        background-position-x: 18rem;
    }

    @include mq(xlarge) {
        background-size: 20rem;
        background-position-x: 25rem;
    }


    &__title {
        text-align: center;
        margin: 3rem 2rem;
        font-size: 3.2rem;
        font-weight: 700;

        @include mq(medium) {
            text-align: left;
            margin-left: 20vw;
            margin-bottom: 1rem;
            margin-top: 10rem;
        }

        @include mq(large) {
            font-size: 3.6rem;
        }
    }

    &__input {
        border-radius: 50px 0 0 50px;
        font-size: 1.6rem;
        width: 30rem;

        &:focus {
            outline: none;
        }

        @include mq(medium) {
            width: 40rem;
        }
    }

    &__button {
        padding: 1.2em;
        color: #fff;
        background-color: #000;
        border-radius: 0 50px 50px 0;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
        font-size: 1.6rem;

        @include mq(medium) {
            width: 10rem;
        }
    }
}