html {
    font-family: $font;
    font-size: 10px;
}

h1 {
    text-transform: uppercase;
    color: $main-color;
    font-weight: bold;

}

h2 {
    font-size: 2.3rem;
}

h3 {
    font-size: 2.0rem;
}


h4 {
    font-size: 1.8rem;
}

span {
    color: $main-color;
}

p {
    font-size: 1.6rem;
    line-height: 2rem;
}


button {
    border: none;
}

input,
textarea {
    border: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    padding: 1.2em;
}

textarea {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}