html {
    font-family: $font;
    font-size: 10px;
}

h1 {
    text-transform: uppercase;
    color: $main-color;
    font-weight: bold;

}

h2 {
    font-size: 2.3rem;

}

h3 {
    font-size: 2.0rem;
}


h4 {
    font-size: 1.8rem;
}

span {
    color: $main-color;
}

p {
    font-size: 1.6rem;
    line-height: 2rem;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
}

input,
textarea {
    border: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    padding: 1.2em;
    background-color: $light-grey;

    &:focus {
        outline: 4px solid $secondary-color;
        box-shadow: 10px;
    }
}

textarea {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

strong {
    font-weight: bold;
    color: $main-color;
}

.fa-check {
    color: $main-color;
}

.section__title {
    margin: 0 0 3.4rem 0;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    color: #000;
    width: 100vw;
    line-height: 1.2em;
    font-size: 3.6em;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    align-items: center;
    justify-content: center;
    height: 15rem;

    @include mq(small) {
        flex-direction: row;
        height: 100%;
    }

    &-span {
        margin: 2rem auto;
        color: #000;

        @include mq(small) {
            margin: auto 2rem;
        }
    }
}

.section__subtitle {
    margin: 0 0 5rem 0;
    text-align: center;
    font-size: 2.6em;
    margin: 0 auto 5rem auto;
    width: 80vw;
}