@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

$font:'Poppins',
Arial,
Helvetica,
sans-serif;

$base-font-size: 16px;
$small-font-size: 14px;

$main-spacing: 20px;
$max-width: 1000px;

$main-color: #D40511;
$secondary-color:#FFCC00;
$light-color: #FFE680;
$light-grey: #F4F4F4;
$dark-color: #262627;
$main-color-shaded: #BE8C92;
$main-color-dark: #7E696C;

$breakpoints: (small: (min-width: 576px),
    medium: (min-width: 768px),
    large: (min-width: 992px),
    xlarge: (min-width: 1200px));

@mixin mq($breakpoint) {
    $size: map-get($breakpoints, $breakpoint);

    @if($size) {
        @media #{$size} {
            @content;
        }
    }

    @else {
        @error '"#{$breakpoint}" - error'
    }
}

;

@mixin flex($justify, $align, $direction) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}